In [15]:
import pandas as pd

pd.set_option("display.precision", 3)

m_plus = pd.read_json("./master_plus.json").T
d_plus = pd.read_json("./diamond_plus.json").T

In [16]:
m_plus = m_plus.sort_values(by=6, ascending=False)
m_plus.head(10)

               0      1      2      3      4      5      6
Dr. Mundo  0.548  0.477  0.499  0.544  0.582  0.620  0.698
Naafiri    0.333  0.505  0.494  0.505  0.594  0.632  0.692
Sona       0.500  0.508  0.562  0.569  0.553  0.553  0.645
Gwen       0.569  0.509  0.535  0.561  0.553  0.565  0.642
Kayle      0.467  0.520  0.495  0.539  0.597  0.594  0.638
Fizz       0.665  0.585  0.543  0.548  0.556  0.582  0.629
Rengar     0.582  0.551  0.526  0.563  0.583  0.598  0.620
Yuumi      0.451  0.485  0.461  0.520  0.550  0.557  0.619
Shaco      0.685  0.590  0.539  0.536  0.574  0.589  0.614
Skarner    0.370  0.497  0.511  0.545  0.609  0.665  0.613

In [17]:
d_plus = d_plus.sort_values(by=6, ascending=False)
d_plus.head(10)

                  0      1      2      3      4      5      6
Kayle         0.454  0.519  0.477  0.524  0.592  0.601  0.617
Kassadin      0.434  0.500  0.474  0.551  0.594  0.589  0.599
Shaco         0.614  0.586  0.511  0.516  0.548  0.565  0.596
Aurelion Sol  0.405  0.456  0.491  0.539  0.572  0.604  0.595
Dr. Mundo     0.408  0.456  0.486  0.533  0.549  0.573  0.593
Gwen          0.518  0.482  0.510  0.534  0.542  0.554  0.593
Sona          0.462  0.489  0.541  0.552  0.543  0.542  0.591
Teemo         0.529  0.469  0.500  0.513  0.544  0.568  0.589
Rengar        0.559  0.514  0.496  0.532  0.562  0.578  0.584
Naafiri       0.507  0.472  0.477  0.533  0.572  0.587  0.582